@import "tailwindcss";

body {
  background: url("/background.svg") no-repeat center center;
}
@keyframes zoomModal {
  0% { transform: scale(0); opacity: 0; }
  60% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); }
}

.animate-zoomModal {
  animation: zoomModal 0.5s ease-out forwards;
}
