* {
    font-family: 'Chakra Petch', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

/* Pour éviter que l'encre devienne violette après un clic (causé par :visited) */ 
a, a:visited, a:hover, a:active {
  text-decoration: none;
}

img {
  user-select: none;
}

.unselectable {
  user-select: none;
}