{% extends 'base.html.twig' %}

{% block title %}JobBoard - Accueil{% endblock %}

{% block body %}
<main class="hero w-full min-h-svh bg-base-100">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Bienvenue</h1>
      <p class="py-6">
        Sur notre plateforme entre salariés et recruteurs, retrouvez les meilleurs annonces et offres d'emploi sur le marché.
        Faites de votre futur, une carrière extraordinaire dès maintenant !
      </p>
      <a class="btn btn-neutral btn-outline" href="{{ path("app_advertisement")}}">Découvrir les offres</a>
    </div>
  </div>
</main>
{% endblock %}
